{% if paginator.total_pages > 1 %}
  <nav>
    {% if paginator.page == 2 %}
      <a href="{{ "/" | relative_url }}">&#8249;</a>
    {% elsif paginator.previous_page %}
      <a href="{{ site.paginate_path | replace: ":num", paginator.previous_page | relative_url }}">&#8249;</a>
    {% else %}
      <a href="#">&#8249;</a>
    {% endif %}
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <a href="#">{{ page }}</a>
      {% elsif page == 1 %}
        <a href="{{ "/" | relative_url }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | replace: ":num", page | relative_url }}">{{ page }}</a>
      {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
      <a href="{{ site.paginate_path | replace: ":num", paginator.next_page | relative_url }}">&#8250;</a>
    {% else %}
      <a href="#">&#8250;</a>
    {% endif %}
  </nav>
{% endif %}
